@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(214, 214, 214);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 14px;
}

body {
  height: 100dvh;
  overflow: hidden;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #000000;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type='range']::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #000000;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type='range']::-ms-thumb {
  width: 16px;
  height: 16px;
  background: #000000;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* hover 상태 */
input[type='range']::-webkit-slider-thumb:hover {
  background: #b3f289;
}

input[type='range']::-moz-range-thumb:hover {
  background: #b3f289;
}

input[type='range']::-ms-thumb:hover {
  background: #b3f289;
}
